/* CSS by Cat */

body {
    font-family: monospace ;
    font-size: large ;
    text-align: center ;
}

img {
    max-width: 250px ;
    min-width: 50px ;
    width: 100% ;
}

input[type=file] {
    background: #eee ;
    border-radius: 10px ;
    font-family: monospace ;
    padding: 5px ;

    max-width: 100% ;
    /* width: 65px ; */
    width: 195px ;
}

textarea {
    border: 4px solid #555 ;
    border-radius: 10px ;
    padding: 5px ;
    resize: none ;

    height: 500px ;
    width: 100%  ;
}

.column {
    float: left ;
}

.codehere {
    padding: 5px 25px ;

    height: fit-content ;
    /* 500 - 2*5 padding - 2*4 border */
    max-width: 482px ;
    width: calc(40% - 50px - 8px ) ;
}

.small {
    border: 0px ;
    padding: 186px 25px 0 25px ;

    height: calc( 622px - 176px ) ;
    width: calc( 33% - 200px ) ;
    min-width: 50px ;
}

.row{
    margin: 0 auto ;
    width: 67% ;
}

/* make the footer stick to the bottom */
div:after {
    clear: both ;
    content: "" ;
    display: table ;
}
